[Desktop Entry]
Name=Shiginima Launcher
Comment=An alternative Minecraft Launcher
Keywords=minecraft
Terminal=false
Type=Application
Categories=Game;
